<form action="/random/results">
    <label for="min">Minimum</label>
    <input id="min" name="users_min" type="text" placeholder="E.g. 1.5">

    <label for="max">Maximum</label>
    <input id="max" name="users_max" type ="text" placeholder="E.g. 4.5">

    <button>Pick random number</button>

  </form>
